<strong>Olá, {{ student }}</strong>
<p>A sua pergunta foi respondia.</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Respondia em: </strong> {{ answer_at }} <br />
</p>
