<strong>Olá, {{ student }}</strong>
<p>Você efetuou uma matícula no GymPoint:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de Término: </strong> {{ end_date }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  <br />
  <small>
    Agora você pode usufruir de todos os recursos do GymPoint
  </small>
</p>
